*.py[cod]
*$py.class

.ropeproject
*.*~
*.js~
*.hbs~
travelsFront/package.json~
*.swp
# Django stuff:
*.log
local_settings.py
travelsBackend/texpenses/.*.py.swp
travelsBackend/travelsBackend/.*.py.swp
travelsBackend/travelsBackend/*.py~
travelsBackend/texpenses/.admin.py.swp
travelsBackend/uploads/
*.swo
*.swn

instructions.txt~
resources/.*.swo
uploads/
#backend sqlite testing db

*.sqlite3
.gitignore~
*.py~
*$py.class
*.js~
*.swp
*.hbs~
*.py.swo
