*.py[cod]
*$py.class

*.js~
*.hbs~
travelsFront/package.json~
*.swp
# Django stuff:
*.log
local_settings.py
travelsBackend/texpenses/.*.py.swp
travelsBackend/travelsBackend/.*.py.swp
travelsBackend/travelsBackend/*.py~
travelsBackend/texpenses/.admin.py.swp
travelsBackend/texpenses/migrations/
instructions.txt~
travelsBackend/texpenses/migrations/*
#backend sqlite testing db

travelsBackend/db.sqlite3
.gitignore~
*.py~
*$py.class
*.js~
*.swp
*.hbs~
