apimas-drf>=0.3.4
apimas>=0.3.4
Django==1.10.7
django-crontab>=0.6.0
django-filter==0.15
django-model-utils==2.5.2
djangorestframework==3.11.2
djoser==0.4.3
drf-extensions==0.3.1
python-stdnum>=1.0
cairocffi>=0.5,<1.0.0
WeasyPrint==0.31
python-memcached>=1.53
pytz
XlsxWriter>=0.5.2
