apimas-drf==0.3
apimas==0.3
Django==1.8
django-crontab==0.6.0
django-filter==1.0.0
django-model-utils==2.5
djangorestframework==3.3.3
djoser==0.4.3
drf-extensions==0.3.1
geopy==1.11.0
googlemaps==2.4.5
python-stdnum==1.5
requests==2.9.1
cairocffi==0.6
WeasyPrint==0.31
psycopg2==2.6.2
python-memcached==1.58
pytz==2016.3

