{{ component
  componentName

  field=field
  onChange=(action 'updateProperty')
  value=value
  label=label
  errors=errors
  isTouched=isTouched
}}

{{#if canShowHint }}
  <div class="md-input-hint">
    <div class="message">
        {{ hint }}
    </div>
  </div>
{{/if}}
