{{#paper-content classNames="layout-column model-form-fieldset" flex=flex}}
    {{#if label}}
        {{#paper-content flex=100}}
            <h2>{{ label }}</h2>
        {{/paper-content}}
    {{/if}}
    {{#paper-content classNames="layout-row layout-wrap"}}
        {{#each fields as |field|}}
            {{model-form/field field=field object=object isTouched=isTouched flex=field.layout.flex}}
        {{/each}}
    {{/paper-content}}
{{/paper-content}}
