<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "texpenses/content.html" %}

{% block content_data %}
<table style="width:100%">
	<caption style='text-align: center;'><b>Αίτηση Αποζημίωσης Μετακίνησης</b></caption>
	<tr>
		<td>Μετακινούμενος</td>
		<td colspan="4">{{first_name}} {{last_name}}</td>
	</tr>
	<tr>
		<td>Ιδιότητα</td>
		<td colspan="4">{{kind}}</td>
	</tr>
	<tr>
		<td>Ειδικότητα</td>
		<td colspan="4">{{specialty}}</td>
	</tr>
	<tr>
		<td>ΑΦΜ</td>
		<td colspan="4">{{tax_reg_num}}</td>
	</tr>
	<tr>
		<td>Τραπεζικός Λογιαριασμός IBAN</td>
		<td colspan="4">{{iban}}</td>
	</tr>
	<tr>
		<td>Ημερομηνία μετακίνησης</td>
		<td>Αναχώρηση</td>
		<td>{{depart_date|date:"d/m/Y"}}</td>
		<td>Επιστροφή</td>
		<td>{{return_date|date:"d/m/Y"}}</td>
	</tr>
	<tr>
		<td>Ημερομηνία εργασιών</td>
		<td>Έναρξη</td>
		<td>{{task_start_date|date:"d/m/Y"}}</td>
		<td>Λήξη</td>
		<td>{{task_end_date|date:"d/m/Y"}}</td>
	</tr>
	<tr>
		<td>Εναπομείνασες ημέρες μετακίνησης εργασιών</td>
		<td>Πριν</td>
		<td>{{trip_days_before}}</td>
		<td>Μετά</td>
		<td>{{trip_days_after}}</td>
	</tr>
	<tr>
		<td>Ημέρες μετακίνησης εργασιών</td>
		<td>{{transport_days}}</td>
	</tr>
	<tr>
		<td>Διανυκτερεύσεις</td>
		<td>{{overnights_num}}</td>
	</tr>
	<tr>
		<td>Τόπος μετακίνησης</td>
		<td>Από:</td>
		<td>{{departure_point}}</td>
		<td>Προς:</td>
		<td>{{arrival_point}}</td>
	</tr>
	<tr>
		<td>Μέσο μετακίνησης</td>
		<td>{{means_of_transport}}</td>
	</tr>
	<tr>
		<td>Αιτιολογία μετακίνησης</td>
		<td colspan="4">{{reason}}</td>
	</tr>
</table>
<br>
<table style="width:100%">
	<caption style='text-align: center;'><b>Οι πραγματοποιηθείσες δαπάνες έχουν ως εξής:</b></caption>
	<tr>
		<td><b>ΚΑΤΗΓΟΡΙΑ ΔΑΠΑΝΗΣ</b></td>
		<td><b>ΠΟΣΟ</b></td>
	</tr>
	<tr>
		<td>Εισιτήριο</td>
		<td>{{transportation_cost}} {{transportation_default_currency}} </td>
	</tr>
	<tr>
		<td>Ημερήσια Αποζημίωση</td>
		<td>{{compensation_days_manual}} ημέρες x {{compensation_level}} = {{compensation_cost}} ευρώ </td>
	</tr>
	<tr>
		<td>Διανυκτέρευση</td>
		<td>{{overnights_num_manual}} ημέρες x {{accommodation_cost}} = {{overnights_sum_cost}} {{accommodation_default_currency}}  </td>
	</tr>
	<tr>
		<td>Κόστος συμμετοχής</td>
		<td>{{participation_cost}} {{participation_default_currency}}  </td>
	</tr>
	<tr>
		<td>Λοιπά έξοδα μετακίνησης</td>
		<td>{{additional_expenses}} {{additional_expenses_default_currency}}  </td>
	</tr>
	<tr>
		<td><b>Σύνολο</td>
		<td><b>{{total_cost}} ευρώ </b></td>
	</tr>
</table>

<footer style="position: absolute;right: 0;bottom: 0;left: 0;text-align: right;" >
	{% include 'texpenses/footer.html' %}
</footer>

<br><br><br><br><br><br><br><br><br><br><br><br><br>
<table style="width:100%">
	<caption style='text-align: center;'><b>Ο μετακινούμενος αιτείται την ακόλουθη αποζημίωση:</b></caption>
	<tr>
		<td>Ημερήσια Αποζημίωση</td>
		<td>{{compensation_days_manual}} ημέρες x {{compensation_level}} = {{compensation_cost}} ευρώ </td>
	</tr>
	<tr>
		<td>Λοιπά έξοδα μετακίνησης</td>
		<td>{{additional_expenses}} ευρώ</td>
	</tr>
	<tr>
		<td><b>Σύνολο Αποζημίωσης</td>
		<td><b>{{compensation_final}} ευρώ</b></td>
	</tr>
</table>
{% endblock %}
