<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "texpenses/content.html" %}

{% block content_data %}
<div style='text-align:center;'><h4><b>ΑΠΟΦΑΣΗ ΑΠΟΖΗΜΙΩΣΗΣ<br>
			Ο ΠΡΟΕΔΡΟΣ ΚΑΙ ΔΙΕΥΘΥΝΩΝ ΣΥΜΒΟΥΛΟΣ ΤΗΣ ΕΔΕΤ ΑΕ</b><br></h4>

</div>
<div style='text-align:left;'>
	<p>Έχοντας υπόψη:<br>
	Α. Τις διατάξεις:<br></p>
	<ol><li>Της υποπαραγράφου Δ.9 του Νόμου 4336/2015 (ΦΕΚ Α 94/14.08.2015) «Συνταξιοδοτικές διατάξεις - Κύρωση του Σχεδίου Σύμβασης Οικονομικής Ενίσχυσης από τον Ευρωπαϊκό Μηχανισμό Σταθερότητας και ρυθμίσεις για την υλοποίηση της Συμφωνίας Χρηματοδότησης».</li>
		<li>Του Π.Δ. 29/98 περί σύστασης Ανωνύμου Εταιρείας με την επωνυμία «Εθνικό Δίκτυο Έρευνας Τεχνολογίας Α.Ε.» (ΦΕΚ 34/Α/98) όπως τροποποιήθηκε από το Π.Δ. 308/2001 (ΦΕΚ 209/Α/2001), το Π.Δ. 145/2003 (ΦΕΚ 121/Α/2003), το ν. 2919/2001 (ΦΕΚ128/Α/2001) και το ν. 3438/2006 (ΦΕΚ 33/Α/2006) και από τον ν. 4115/2013 (ΦΕΚ 24/Α/2013)</li></ol>
	<p>Β. Την απόφαση της από 06/11/2015, 367ης Συνεδρίας του ΔΣ της ΕΔΕΤ Α.Ε (Θέμα 2) περί εκπροσωπήσεως της ΕΔΕΤ Α.Ε.</p>
	<p>Γ. Την ανάγκη κάλυψης της κάτωθι αποζημίωσης.</p>
	<p>Δ. Το γεγονός ότι η κάτωθι αποζημίωση είναι εντός του εγκεκριμένου με την απόφαση μετακίνησης ποσού.</p>
</div>
<h4 style='text-align:center;'><b>ΒΕΒΑΙΩΝΟΥΜΕ</b></h4>
<div style='text-align:left;'>Ότι ο απολογισμός της μετακίνησης με ΔΣΕ: {{dse}} Αρ. Μετ {{movement_id}} έχει ως εξής:</div><br>


<table style="width:100%">
	<tr>
		<td>Μετακινούμενος</td>
		<td>{{first_name}} {{last_name}}</td>
	</tr>

	<tr>
		<td>Ιδιότητα</td>
		<td>{{kind}}</td>
	</tr>

	<tr>
		<td>Ειδικότητα</td>
		<td>{{specialty}}</td>
	</tr>

	<tr>
		<td>ΑΦΜ</td>
		<td>{{tax_reg_num}}</td>
	</tr>
	<tr>
		<td>Ημερομηνία μετακίνησης</td>
		<td>Αναχώρηση</td>
		<td>{{depart_date|date:"d/m/Y"}}</td>
		<td>Επιστροφή</td>
		<td>{{return_date|date:"d/m/Y"}}</td>
	</tr>

	<tr>
		<td>Ημερομηνία εργασιών</td>
		<td>Έναρξη</td>
		<td>{{task_start_date|date:"d/m/Y"}}</td>
		<td>Λήξη</td>
		<td>{{task_end_date|date:"d/m/Y"}}</td>
	</tr>

	<tr>
		<td>Εναπομείνασες ημέρες μετακίνησης εργασιών</td>
		<td>Πριν</td>
		<td>{{trip_days_before}}</td>
		<td>Μετά</td>
		<td>{{trip_days_after}}</td>
	</tr>

	<tr>
		<td>Ημέρες μετακίνησης εργασιών</td>
		<td>{{transport_days}}</td>
	</tr>

	<tr>
		<td>Διανυκτερεύσεις</td>
		<td>{{overnights_num}}</td>
	</tr>

	<tr>
		<td>Αιτιολογία μετακίνησης</td>
		<td>{{reason}}</td>
	</tr>

	<tr>
		<td>Τόπος μετακίνησης</td>
		<td>Από:</td>
		<td>{{departure_point}}</td>
		<td>Προς:</td>
		<td>{{arrival_point}}</td>
	</tr>

	<tr>
		<td>Μέσο μετακίνησης</td>
		<td>{{means_of_transport}}</td>
	</tr>

</table>
<br>
<table style="width:100%">
	<caption style='text-align: center;'><b>Οι πραγματοποιηθείσες δαπάνες έχουν ως εξής:</b></caption>
	<tr>
		<td><b>ΚΑΤΗΓΟΡΙΑ ΔΑΠΑΝΗΣ</b></td>
		<td><b>ΠΟΣΟ</b></td>
	</tr>
	<tr>
		<td>Αεροπορικό εισιτήριο</td>
		<td>{{transportation_cost}} {{transportation_default_currency}} </td>
	</tr>

	<tr>
		<td>Ημερήσια Αποζημίωση</td>
		<td>{{compensation_days_manual}} ημέρες x {{compensation_level}} = {{compensation_cost}} ευρώ </td>
	</tr>


	<tr>
		<td>Διανυκτέρευση</td>
		<td>{{overnights_num_manual}} ημέρες x {{accommodation_cost}} = {{overnights_sum_cost}} {{accommodation_default_currency}}  </td>
	</tr>


	<tr>
		<td>Κόστος συμμετοχής</td>
		<td>{{participation_cost}} {{participation_default_currency}}  </td>
	</tr>

	<tr>
		<td>Λοιπά έξοδα μετακίνησης</td>
		<td>{{additional_expenses}} {{additional_expenses_default_currency}}  </td>
	</tr>

	<tr>
		<td><b>Σύνολο</td>
		<td><b>{{total_cost}} ευρώ </b></td>
	</tr>

</table>
<br>
<table style="width:100%">
	<caption style='text-align: center;'><b>ΕΓΚΡΙΝΟΥΜΕ
			Την κάτωθι αποζημίωση για τον μετακινούμενο:</b></caption>
	<tr>
		<td>Ημερήσια Αποζημίωση</td>
		<td>{{compensation_days_manual}} ημέρες x {{compensation_level}} = {{compensation_cost}} ευρώ </td>
	</tr>

	<tr>
		<td>Λοιπά έξοδα μετακίνησης</td>
		<td>{{additional_expenses}} ευρώ</td>
	</tr>

	<tr>
		<td><b>Σύνολο Αποζημίωσης</td>
		<td><b>{{compensation_final}} ευρώ</b></td>
	</tr>

</table>
{% endblock %}
