<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% extends "texpenses/content.html" %}

{% load tz %}

{% block content_data %}
<div style='text-align:center;'><h4><b>ΑΠΟΦΑΣΗ ΜΕΤΑΚΙΝΗΣΗΣ<br>
			Ο ΔΙΕΥΘΥΝΩΝ ΣΥΜΒΟΥΛΟΣ ΤΗΣ ΕΔΥΤΕ ΑΕ</b><br></h4>

</div>
<div style='text-align:left;font-size:13px;'>
	<p>Έχοντας υπόψη:<br>
	Α. Τις διατάξεις:<br></p>
	<ol><li>Της υποπαραγράφου Δ.9 του Νόμου 4336/2015 (ΦΕΚ Α 94/14.08.2015) «Συνταξιοδοτικές διατάξεις - Κύρωση του Σχεδίου Σύμβασης Οικονομικής Ενίσχυσης από τον Ευρωπαϊκό Μηχανισμό Σταθερότητας και ρυθμίσεις για την υλοποίηση της Συμφωνίας Χρηματοδότησης».</li>
	<li>Του Π.Δ. 29/98 περί σύστασης Ανωνύμου Εταιρείας με την επωνυμία «Εθνικό Δίκτυο Έρευνας Τεχνολογίας Α.Ε.» (ΦΕΚ 34/Α/98) όπως τροποποιήθηκε από το Π.Δ. 308/2001 (ΦΕΚ 209/Α/2001), το Π.Δ. 145/2003 (ΦΕΚ 121/Α/2003), το Ν. 2919/2001 (ΦΕΚ128/Α/2001), το Ν. 3438/2006 (ΦΕΚ 33/Α/2006), το Ν. 4115/2013 (ΦΕΚ 24/Α/2013) και τον Ν. 4452/2017(ΦΕΚ 17Α') άρθρο 28 παρ. 4 καθώς και όπως τροποποιήθηκε και κωδικοποιήθηκε με την απόφαση της από 08/03/2018 Αυτόκλητης Έκτακτης Γενική Συνέλευση (Πρακτικό 39) και καταχωρήθηκε στο ΓΕΜΗ την 23/04/2018, με Κωδικό Αριθμό Καταχώρισης 1372691, σύμφωνα με την από 24/04/2018 και με Αριθ. Πρωτ.: 1154739 Ανακοίνωση Καταχώρησης του ΕΒΕΑ.
	</li>
	<li>Το άρθρο 1 του Π.Δ. 81/2019 (ΦΕΚ 119/Α/8.7.2019) «Σύσταση, συγχώνευση, μετονομασία και κατάργηση Υπουργείων και καθορισμός των αρμοδιοτήτων τους - Μεταφορά υπηρεσιών και αρμοδιοτήτων μεταξύ Υπουργείων».</li>
	<li>Το άρθρο 58 του Ν. 4623/2019 (ΦΕΚ 134/Α/9.8.2019) «Ρυθμίσεις του Υπουργείου Εσωτερικών, διατάξεις για την ψηφιακή διακυβέρνηση, συνταξιοδοτικές ρυθμίσεις και άλλα επείγοντα ζητήματα».</li></ol>
	<p>Β. Την απόφαση της από 28/08/2019, 494ης Συνεδρίας του ΔΣ της ΕΔΥΤΕ Α.Ε (Θέμα 3) περί εκπροσωπήσεως της ΕΔΥΤΕ Α.Ε.</p>
	<p>Γ. Την ανάγκη κάλυψης των δαπανών μετακίνησης.</p>
	<p>Δ. Το γεγονός ότι το ποσό της δεσμευόμενης, με την παρούσα, πίστωσης είναι εντός του εγκεκριμένου ποσού διάθεσης.</p>
</div>
<h4 style='text-align:center;'><b>ΑΠΟΦΑΣΙΖΟΥΜΕ</b></h4>
<div style='text-align:left;font-size:13px;'>Εγκρίνουμε την παρακάτω μετακίνηση:</div><br>

<br/>
<footer style="position: absolute;right: 0;bottom: 0;left: 0;text-align: right;" >
	{% include 'texpenses/footer.html' %}
</footer>

<table style="width:100%">
	<tr>
		<td>Μετακινούμενος</td>
		<td>{{first_name}} {{last_name}}</td>
	</tr>
	<tr>
		<td>Ιδιότητα</td>
		<td>{{kind}}</td>
	</tr>
	<tr>
		<td>Ειδικότητα</td>
		<td>{{specialty}}</td>
	</tr>
	<tr>
		<td>ΑΦΜ</td>
		<td>{{tax_reg_num}}</td>
	</tr>
</table>

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<table style="width:100%">
		<tr>
			<td>Ημερομηνία μετακίνησης</td>
			<td>Αναχώρηση</td>
			<td>{{depart_date|timezone:timezone_depart|date:"d/m/Y"}}</td>
			<td>Επιστροφή</td>
			<td>{{return_date|timezone:timezone_last_destination|date:"d/m/Y"}}</td>
		</tr>
		<tr>
			<td>Ημερομηνία εργασιών</td>
			<td>Έναρξη</td>
			<td>{{task_start_date|timezone:timezone_first_destination|date:"d/m/Y"}}</td>
			<td>Λήξη</td>
			<td>{{task_end_date|timezone:timezone_last_destination|date:"d/m/Y"}}</td>
		</tr>
		<tr>
			<td>Εναπομείνασες ημέρες μετακίνησης εργασιών</td>
			<td>Πριν</td>
			<td>{{trip_days_before}}</td>
			<td>Μετά</td>
			<td>{{trip_days_after}}</td>
		</tr>
		<tr>
			<td>Ημέρες μετακίνησης εργασιών</td>
			<td>{{transport_days}}</td>
		</tr>
		<tr>
			<td>Διανυκτερεύσεις</td>
			<td>{{overnights_num}}</td>
		</tr>
		<tr>
			<td>Τόπος μετακίνησης</td>
			<td>Από:</td>
			<td>{{departure_point}}</td>
			<td>Προς:</td>
			<td>{{arrival_point}}</td>
		</tr>
		{% if travel_info.count > 1 %}
		<tr>
			<td>Ενδιάμεσοι προορισμοί</td>
			{% for travel_obj in travel_info %}
			<tr>
				<td>Από (ημ/νία {{travel_obj.depart_date|timezone:timezone_depart|date:"d/m/Y"}}):</td>
				<td>{{travel_obj.departure_point}}</td>
				<td>Προς:</td>
				<td>{{travel_obj.arrival_point}}</td>
			</tr>
			{% endfor %}
		</tr>
		{% else %}
		<tr>
			<td>Μέσο μετακίνησης</td>
			<td>{{means_of_transport}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>Αιτιολογία μετακίνησης</td>
			<td colspan="4">{{reason}}</td>
		</tr>
	</table>
	<br>
	<table style="width:100%">
		<caption style='text-align: center;'><b>Βεβαιώνουμε την ακόλουθη δέσμευση πίστωσης:</b></caption>
		<tr>
			<td><b>ΚΑΤΗΓΟΡΙΑ ΔΑΠΑΝΗΣ</b></td>
			<td><b>ΠΡΟΥΠΟΛΟΓΙΣΜΟΣ</b></td>
		</tr>
		<tr>
			<td>Εισιτήριο</td>
			<td>{{transportation_cost}} ευρώ </td>
		</tr>
		<tr>
			<td>Διανυκτέρευση</td>
			<td>{{overnights_sum_cost_string}}</td>
		</tr>
		<tr>
			<td>Ημερήσια Αποζημίωση</td>
			<td>{{compensation_string}} = {{compensation_cost}} ευρώ </td>

		</tr>
		<tr>
			<td>Κόστος συμμετοχής</td>
			<td>{{participation_cost}} ευρώ</td>
		</tr>
		<tr>
			<td>Λοιπά έξοδα μετακίνησης</td>
			<td>{{additional_expenses_initial}} ευρώ  </td>
		</tr>
		<tr>
			<td><b>Σύνολο</td>
			<td><b>{{total_cost}} ευρώ</b></td>
		</tr>
	</table>
	{% endblock %}
