{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Δημιουργία Νέας Αίτησης Μετακίνησης</h4>
      <p>
        Ο μετακινούμενος θα πρέπει να μεταβεί στην καρτέλα «Οι Αιτήσεις μου», προκειμένου να δημιουργήσει μία αίτηση μετακίνησης.
        Εκεί θα πρέπει να επιλέξει το κουμπί "ΝΕΑ ΑΙΤΗΣΗ" και να συμπληρώσει τα ακόλουθα στοιχεία: (με * σημειώνονται τα υποχρεωτικά πεδία)
      <ul>
        <li>Έργο - Υπεύθυνος Έργου (Λίστα Επιλογών) *</li>
        <li>Αιτιολογία Μετακίνησης *</li>
        <li>Τόπος Αναχώρησης - Από *</li>
        <li>Τόπος Προορισμού - Προς* </li>
        <li>Έναρξη Εργασιών * (συμπληρώνεται στην τοπική ώρα της πόλης προορισμού)</li>
        <li>Λήξη Εργασιών * (συμπληρώνεται στην τοπική ώρα της πόλης προορισμού)</li>
        <li>Αναχώρηση (συμπληρώνεται στην τοπική ώρα της πόλης αναχώρησης)</li>
        <li>Επιστροφή (συμπληρώνεται στην τοπική ώρα της πόλης προορισμού)</li>
        <li>Αρχικές Προτάσεις Μετακινούμενου</li>
      </ul>
        Ο μετακινούμενος θα πρέπει πρώτα να αποθηκεύσει τις αλλαγές του και στη συνέχεια να υποβάλει την αίτησή του. Σημειώνεται ότι δεν υπάρχει περιορισμός στο πόσες φορές μπορεί να αποθηκευθεί η αίτηση μέχρι την υποβολή της. Με την υποβολή της Αίτησης Μετακίνησης, θα ενημερωθούν μέσω email ο Υπεύθυνος του Έργου και η Γραμματεία.
        <br><br>
      </p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Οι Αιτήσεις μου</h4>
      <p>
        Στην καρτέλα «Οι Αιτήσεις μου» παρουσιάζονται, ανάλογα με την κατάσταση (status) στην οποία βρίσκονται, οι αιτήσεις του μετακινούμενου.
        Στην συγκεκριμένη καρτέλα, ο μετακινούμενος έχει τη δυνατότητα να πραγματοποιήσει τις παρακάτω ενέργειες:
      <ul>   
         <li><b>Επεξεργασία</b>: ο μετακινούμενος έχει την δυνατότητα να επεξεργαστεί τα στοιχεία μιας αίτησης και στη συνέχεια να την αποθηκεύσει ή/και να την υποβάλει.</li>
        <li><b>Διαγραφή</b>: ο μετακινούμενος έχει την δυνατότητα να διαγράψει μια αίτησή του.</li>
        <li><b>Αναίρεση της υποβολής</b>: δυνατότητα της αναίρεσης της υποβολής μιας αίτησης και επιστροφή της στην προηγούμενη κατάσταση.</li>
      </ul>  
      </p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Λίστα Αιτήσεων</h4>
      <p>
        Στην καρτέλα «Λίστα Αιτήσεων» παρουσιάζονται, ανάλογα με την κατάσταση (status) στην οποία βρίσκονται, οι αιτήσεις που αναμένουν την έκγριση του Υπευθύνου του Έργου. 
        Στην συγκεκριμένη καρτέλα, ο χρήστης με την ιδιότητα του Υπευθύνου του Έργου έχει τη δυνατότητα να πραγματοποιήσει την ακόλουθη ενέργεια:
      <ul>   
         <li><b>Έγκριση</b>: ο χρήστης έχει την δυνατότητα να εγκρίνει μια Αίτηση Μετακίνησης, προκειμένου να προχωρήσει η γραμματεία με τις ενέργειες εύρεσης εισιτηρίων και καταλύματος.</li>
      </ul>  
      </p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Δημιουργία Αίτησης Αποζημίωσης</h4>
      <p>Ο μετακινούμενος, μετά την άφιξη του, θα πρέπει να συνδεθεί εκ νέου στο σύστημα και να συμπληρώσει τα ακόλουθα στοιχεία:
      <ul>
        <li><b>Ανέβασμα αρχείων</b>: Ο μετακινούμενος θα πρέπει να ανεβάσει σε ένα αρχείο τύπου zip που περιέχει κατ' ελάχιστον: (1) το πρόγραμμα και (2) τον απολογισμό της μετακίνησης σύμφωνα με το (<a href="***REMOVED***">template</a>). Το αρχείο zip πρέπει να είναι μεγέθους μέχρι 8 MB.</li>
        <li><b>Λοιπά Έξοδα Μετακίνησης</b>: Ο μετακινούμενος θα πρέπει να εισάγει το σύνολο των εξόδων μετακίνησης, αθροίζοντας όλα τα εισιτήρια μέσων μαζικής μεταφοράς (πραγματική τιμή).</li>
        <li><b>Λοιπά Έξοδα Μετακίνησης - Περιγραφή</b>: περιγραφή των εξόδων π.χ. εισιτήρια λεωφορείου.</li>
      </ul>
      Στη συνέχεια θα πρέπει να αποθηκεύσει τις αλλαγές του (επιλέγοντας το κουμπί «ΑΠΟΘΗΚΕΥΣΗ») και να υποβάλει την αίτηση (επιλέγοντας το κουμπί «ΥΠΟΒΟΛΗ») ώστε να εγκριθεί η αποζημίωσή του. Σημειώνεται ότι δεν υπάρχει περιορισμός στο πόσες φορές μπορεί να αποθηκευθεί η αίτηση μέχρι την υποβολή της. Με την υποβολή της Αίτησης Αποζημίωσης, θα ενημερωθούν μέσω email ο Υπεύθυνος του Έργου και η Γραμματεία.
      <br><br>
        <h4>Επιπλέον πληροφορίες</h4>
        <h5>Παραστατικά/δικαιολογητικά</h5>
        Επιπλέον, ο μετακινούμενος θα πρέπει να προσκομίσει στο λογιστήριο τα εξής παραστατικά/ δικαιολογητικά:
        <ul>
          <li>Εκτυπωμένη αίτηση και απόφαση μετακίνησης (σας έχουν αποσταλεί με e-mail σκαναρισμένα με υπογραφές απο την Γραμματεία Προέδρου)</li>
          <li>Boarding passes</li>
          <li>Ατζέντα</li>
          <li>Απολογισμό (το ίδιο αρχείο που έχει ανέβει και στην εφαρμογή)</li>
          <li>Προσωπικά έξοδα (Σε περίπτωση που το νόμισμα ΔΕΝ είναι ευρώ (€) εκτυπώνεται την ισοτιμία του στο <a href="https://www.oanda.com/currency/converter/">currency converter</a> βάζοντας κάθε φορά την αντίστοιχη ημερομηνία της απόδειξης σε κάθε απόδειξη.)</li>
        </ul>
        <h5>Φόρος Πόλης (City Tax)</h5>
        Κάποιες φορές τα ξενοδοχεία χρεώνουν Φόρο Πόλης (City Tax). Για το συγκεκριμένο έξοδο δεν χρειάζεται ο μετακινούμενος να ζητήσει τιμολόγιο. Αρκεί μια απλή απόδειξη με το όνομά του. Το συγκεκριμένο έξοδο θεωρείται προσωπικό και προστίθεται στα λοιπά έξοδα του μετακινούμενου, για τα οποία αποζημιώνεται.
        <h5>Τιμολόγια</h5>
        <ul>
        <li>πρακτορεία: Οι κρατήσεις της διαμονής πρέπει να γίνονται μέσω των πρακτορείων. Τα πρακτορεία γνωρίζουν και εκδίδουν σωστό τιμολόγιο στα στοιχεία της Εταιρείας. Επίσης, τα πρακτορεία γνωρίζουν και στέλνουν κατευθείαν το τιμολόγιο στο λογιστήριο. (Δεν χρειάζεται ο μετακινούμενος να προσκομίσει κάποιο επιπλέον έγγραφο στο λογιστήριο)</li>
        <li>εκτός πρακτορείου: Υπάρχουν (σπάνιες) περιπτώσεις που η διαμονή πληρώνεται από τον μετακινούμενο. Για τη χρέωση της διαμονής στο ξενοδοχείο πρέπει ο μετακινούμενος να ζητάει πάντα τιμολόγιο στα στοιχεία της ΕΔΕΤ. Στις περιπτώσεις αυτές, το τιμολόγιο θα πρέπει να φτάνει άμεσα στο λογιστήριο, ασχέτως με το πότε θα ετοιμαστεί το εξοδολόγιο του μετακινούμενου. Το τιμολόγιο πρέπει να προσκομίζεται στο λογιστήριο με αναφορά το ΔΣΕ του ταξιδιού (πχ ΔΣΕ 7882).</li>
      </ul>
      <br>
      <em>Σημειώνεται ότι για την επικαιροποιημένη έκδοση των παραπάνω οδηγιών μπορείτε να ανατρέξετε στην αντίστοιχη σελίδα του <a href="***REMOVED***">wiki</a></em>
      </p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Ενέργειες Από τον Μετακινούμενο</h4> 
      <p>Στη συνέχεια θα παρουσιάσουμε όλες τις καταστάσεις στις οποίες είναι δυνατόν να βρεθεί μια αίτηση.
      Στον πίνακα που ακολουθεί παρουσιάζονται οι καταστάσεις των αιτήσεων της εφαρμογής καθώς και οι ενέργειες που μπορεί να 
      εκτελέσει ο μετακινούμενος ανάλογα με την κατάσταση της αίτησης:
      </p>
      <div class="container">
      <table class="manualTable"> 
        <thead>
          <tr>
            <th>Κατάσταση</th>
            <th>Περιγραφή</th>
            <th>Ενέργειες</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td>1</td> 
            <td>Σε επεξεργασία από τον μετακινούμενο</td>
            <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής,  Διαγραφή</td>
          </tr>
          <tr>
            <td>2</td> 
            <td>Υποβληθείσα από τον μετακινούμενο</td>
            <td>Αναίρεση Υποβολής</td>
          </tr>
          <tr>
            <td>3</td> 
            <td>Σε επεξεργασία από την γραμματεία</td>
            <td>-</td>
          </tr>
          <tr>
            <td>4</td> 
            <td>Οριστικοποιημένη από την γραμματεία</td>
            <td>-</td>
          </tr>
          <tr>
            <td>5</td> 
            <td>Απόφαση Μετακίνησης υπογεγραμμένη από Πρόεδρο</td>
            <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
          </tr>
          <tr>
            <td>6</td> 
            <td>Σε επεξεργασία από μετακινούμενο για αποζημίωση</td>
            <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
          </tr>
          <tr>
            <td>7</td> 
            <td>Υποβληθείσα από μετακινούμενο για αποζημίωση</td>
            <td>Αναίρεση Υποβολής</td>
          </tr>
          <tr>
            <td>8</td> 
            <td>Σε επεξεργασία - Λογιστικός Έλεγχος</td>
            <td>-</td>
          </tr>
          <tr>
            <td>9</td> 
            <td>Οριστικοποιημένη - Λογιστικός Έλεγχος</td>
            <td>-</td>
          </tr>
          <tr>
            <td>10</td> 
            <td>Απόφαση Αποζημίωσης υπογεγραμμένη από Πρόεδρο</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
      </div>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
