{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Λίστα Αιτήσεων προς Έγκριση</h4>
      <p>
        Στην καρτέλα «Λίστα Αιτήσεων προς Έγκριση» παρουσιάζονται, ανάλογα με την κατάσταση (status) στην οποία βρίσκονται, οι αιτήσεις που αναμένουν την έκγριση του Προέδρου.
        Στην συγκεκριμένη καρτέλα, ο χρήστης με την ιδιότητα του Προέδρου έχει τη δυνατότητα να πραγματοποιήσει τις ακόλουθες ενέργειες:
      <ul>
         <li><b>Έγκριση</b>: ο χρήστης έχει την δυνατότητα να εγκρίνει μια Αίτηση Μετακίνησης</li>
         <li><b>Αναίρεση Έγκρισης</b>: δυνατότητα αναίρεσης της έγκρισης μιας αίτησης και επιστροφή της στην γραμματεία για επεξεργασία</li>
      </ul>
      </p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Ενέργειες Από τον Μετακινούμενο</h4> 
      <p>Στη συνέχεια θα παρουσιάσουμε όλες τις καταστάσεις στις οποίες είναι δυνατόν να βρεθεί μια αίτηση.
      Στον πίνακα που ακολουθεί παρουσιάζονται οι καταστάσεις των αιτήσεων της εφαρμογής καθώς και οι ενέργειες που μπορεί να 
      εκτελέσει ο χρήστης ανάλογα με την κατάσταση της αίτησης:
      </p>
      <div class="container">
      <table class="manualTable"> 
        <thead>
          <tr>
            <th>Κατάσταση</th>
            <th>Περιγραφή</th>
            <th>Ενέργειες</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td>1</td> 
            <td>Σε επεξεργασία από τον μετακινούμενο</td>
            <td>-</td>
          </tr>
          <tr>
            <td>2</td> 
            <td>Υποβληθείσα από τον μετακινούμενο</td>
            <td>-</td>
          </tr>
          <tr>
            <td>3</td> 
            <td>Σε επεξεργασία από την γραμματεία</td>
            <td>-</td>
          </tr>
          <tr>
            <td>4</td> 
            <td>Οριστικοποιημένη από την γραμματεία</td>
            <td>Δυνατότητα Έγκρισης</td>
          </tr>
          <tr>
            <td>5</td> 
            <td>Απόφαση Μετακίνησης υπογεγραμμένη από Πρόεδρο</td>
            <td>Αναίρεση Έγκρισης</td>
          </tr>
          <tr>
            <td>6</td> 
            <td>Σε επεξεργασία από μετακινούμενο για αποζημίωση</td>
            <td>-</td>
          </tr>
          <tr>
            <td>7</td> 
            <td>Υποβληθείσα από μετακινούμενο για αποζημίωση</td>
            <td>-</td>
          </tr>
          <tr>
            <td>8</td> 
            <td>Σε επεξεργασία - Λογιστικός Έλεγχος</td>
            <td>-</td>
          </tr>
          <tr>
            <td>9</td> 
            <td>Οριστικοποιημένη - Λογιστικός Έλεγχος</td>
            <td>-</td>
          </tr>
          <tr>
            <td>10</td> 
            <td>Απόφαση Αποζημίωσης υπογεγραμμένη από Πρόεδρο</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
      </div>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
