{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Επεξεργασία Υποβεβλημένης Αίτησης Αποζημίωσης</h4>    
			<p>
				Η Υπεύθυνη Μετακινήσεων έχει τη δυνατότητα να επεξεργαστεί τα στοιχεία μιας υποβεβλημένης αίτησης αποζημίωσης, 
				αφού μεταβεί στην καρτέλα «Λίστα Αιτήσεων» και επιλέξει την ενέργεια «Επεξεργασία».
				Εκεί θα πρέπει να συμπληρώσει τα ακόλουθα στοιχεία με τις πραγματικές τελικές τιμές τους 
				(με bold σημειώνονται τα υποχρεωτικά πεδία):
			<ul>
				<li><b>Τιμή Εισιτηρίου</b></li>
				<li><b>Τρόπος Πληρωμής (Λίστα Επιλογών)</b></li>
				<li><b>Στοιχεία Πληρωμής</b></li>
				<li><b>Διανυκτέρευση (Ημερήσια): έξοδα καταλύματος</b></li>
				<li><b>Τρόπος Πληρωμής (Λίστα Επιλογών)</b></li>
				<li><b>Στοιχεία Πληρωμής</b></li>
				<li>Κόστος Συμμετοχής: εγγραφές σε συνέδρια, events κλπ.</li>
				<li>Τρόπος Πληρωμής (Λίστα Επιλογών)</li>
				<li>Στοιχεία Πληρωμής</li>
				<li>Λοιπά Έξοδα Μετακίνησης: πχ εισιτήρια μέσων μαζικής μεταφοράς</li>
				<li>Λοιπά Έξοδα Μετακίνησης - Περιγραφή</li>
				<li><b>Κάλυψη Διατροφής (Λίστα Επιλογών)</b></li>
				<li>Κάλυψη ημερήσιας αποζημίωσης από άλλο φορέα</li>
				<li><b>Ημ. Πρ. Αίτησης Αποζημίωσης Μετακίνησης</b></li>
				<li><b>Αρ. Πρ. Αίτησης Αποζημίωσης Μετακίνησης</b></li>
				<li><b>Ημ. Πρ. Αίτησης Αποζημίωσης Απόφασης Μετακίνησης</b></li>
				<li><b>Αρ. Πρ. Αίτησης Αποζημίωσης Μετακίνησης</b></li>
			</ul>
				Η Υπεύθυνη Μετακινήσεων θα πρέπει πρώτα να αποθηκεύσει τις αλλαγές της και στη συνέχεια να υποβάλει την αίτηση. Σημειώνεται ότι δεν υπάρχει περιορισμός στο πόσες φορές μπορεί να αποθηκευθεί η αίτηση μέχρι την υποβολή της.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
	    <h4>Λίστα Αιτήσεων</h4>
			<p>
				Στην καρτέλα «Λίστα Αιτήσεων» παρουσιάζονται, ανάλογα με την κατάσταση (status) στην οποία βρίσκονται, οι αιτήσεις των μετακινούμενων. 
				Στην συγκεκριμένη καρτέλα, η Υπεύθυνη Μετακινήσεων έχει τη δυνατότητα να πραγματοποιήσει τις παρακάτω ενέργειες: 
			<ul>	 
			 	<li><b>Επεξεργασία</b>: η Υπεύθυνη Μετακινήσεων έχει την δυνατότητα να επεξεργαστεί τα στοιχεία μιας αίτησης και στη συνέχεια να την αποθηκεύσει ή/και να την υποβάλει.</li>
				<li><b>Αναίρεση της υποβολής</b>: δυνατότητα της αναίρεσης της υποβολής μιας αίτησης και επιστροφή της στην προηγούμενη κατάσταση.</li>
				<li><b>Εξαγωγή Αρχείων</b>: δυνατότητα εξαγωγής των αρχείων «Αίτηση Αποζημίωσης Μετακίνησης» και «Απόφαση Αποζημίωσης».</li>
				<li><b>Έγκριση από Πρόεδρο</b>: με την συγκεκριμένη ενέργεια η Υπεύθυνη Μετακινήσεων ενημερώνει το σύστημα ότι η μετακίνηση έχει λάβει την έγκριση του Προέδρου.</li>
			</ul>	
			Επιπλέον, δίνεται η δυνατότητα αναζήτησης στη λίστα των αιτήσεων, με βάση το έργο στο οποίο ανήκει μία μετακίνηση, 
			το επώνυμο του μετακινούμενου και τις ημερομηνίες αναχώρησης και επιστροφής.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}	

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Ενέργειες Από Υπεύθυνη Μετακινήσεων</h4> 
			<p>Στη συνέχεια θα παρουσιάσουμε όλες τις καταστάσεις στις οποίες είναι δυνατόν να βρεθεί μια αίτηση. 
			Στον πίνακα που ακολουθεί παρουσιάζονται οι καταστάσεις των αιτήσεων της εφαρμογής καθώς και οι ενέργειες 
			που μπορεί να εκτελέσει η Υπεύθυνη Μετακινήσεων ανάλογα με την κατάσταση της αίτησης:
			</p>
			<div class="container">
			<table class="table responsive"> 
		    <thead>
	        <tr>
	          <th>Κατάσταση</th>
	          <th>Περιγραφή</th>
	          <th>Ενέργειες</th>
	        </tr>
		    </thead>
		    <tbody>
	       	<tr>
	          <td>1</td> 
	          <td>Σε επεξεργασία από τον μετακινούμενο</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>2</td> 
	          <td>Υποβεβλημένη από τον μετακινούμενο</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>3</td> 
	          <td>Σε επεξεργασία από την γραμματεία</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>4</td> 
	          <td>Οριστικοποιημένη από την γραμματεία</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>5</td> 
	          <td>Απόφαση Μετακίνησης υπογεγραμμένη από Πρόεδρο</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>6</td> 
	          <td>Σε επεξεργασία από μετακινούμενο για αποζημίωση</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>7</td> 
	          <td>Υποβεβλημένη από μετακινούμενο για αποζημίωση</td>
	          <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
	        </tr>
	        <tr>
	          <td>8</td> 
	          <td>Σε επεξεργασία από τον Υπεύθυνο Μετακινήσεων</td>
	          <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
	        </tr>
	        <tr>
	          <td>9</td> 
	          <td>Οριστικοποιημένη από τον Υπεύθυνο Μετακινήσεων</td>
	          <td>Αναίρεση Υποβολής, Εξαγωγή Αρχείων, Έγκριση από Πρόεδρο</td>
	        </tr>
	        <tr>
	          <td>10</td> 
	          <td>Απόφαση Αποζημίωσης υπογεγραμμένη από Πρόεδρο</td>
	          <td>-</td>
	        </tr>
		    </tbody>
			</table>
			</div>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
	