<div class="welcome" class="col-md-10">
    <h2>Welcome to Travel Expenses!</h2> 
</div>

<div class="col-md-1">
	{{#link-to "signup"}}<button class="btn btn-primary">Sign Up</button>{{/link-to}}
</div>

<div class="col-md-1">
	{{#link-to "login"}}<button class="btn btn-primary">Log In</button>{{/link-to}}
</div>
 
{{outlet}}
