<div class="container">
	<form class="form-horizontal col-md-10"  {{action "authenticate" on="submit"}}>

	  	<div class="loginForm">

	   	  	<label for="identification">Username</label><br>
	      	{{input id="identification" value=identification type="text"}}
	  	</div>

	  	<div class="loginForm">
	      	
	      	<label for="password">Password</label><br>
	      	{{input id="password" value=password type="password"}}
	   	</div> 
	 

	  	<button type="submit" class="btn btn-primary">Log in</button>
	</form>
</div>

{{outlet}}
