  {{#paper-sidenav class="md-whiteframe-z2 site-sidenav" lockedOpen="gt-sm"
    open=isSidenavOpen onToggle=(action (mut isSidenavOpen))}}

    {{#paper-toolbar class="site-content-toolbar" tall=true}}
      <div class="logo layout-column layout-align-center-center">
        <h3 style="margin: 0; margin-top: 3rem">Travel</h3>
        <h5 style="margin: 0">Expenses</h5>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#unless session.isAuthenticated}}
            {{#menu-item onClick=(transition-to "login")}}Login{{/menu-item}}
            {{#menu-item onClick=(transition-to "signup")}}Signup{{/menu-item}}
        {{else}}
            {{#paper-content classNames='login-info layout-padding layout-row'}}
                {{#paper-content classNames="user-label" flex="80" padding=1 }}Logged in as: {{ account.user.username }}{{/paper-content}}
                {{#paper-button flex="20" raised=true onClick=(action 'invalidateSession')}}logout{{/paper-button}}
            {{/paper-content}}
            {{#menu-item onClick=(transition-to "profile")}}Profile{{/menu-item}}
            {{#unless (can "approve petition")}}
              {{#menu-item onClick=(transition-to "petitionList")}}Petitions{{/menu-item}}
              {{#menu-item onClick=(transition-to "userPetition")}}New Petition{{/menu-item}}
            {{/unless}}
            {{#if (can "approve petition")}}
              {{#menu-item onClick=(transition-to "advancedList")}}Petitions for Approval{{/menu-item}}
            {{/if}}
        {{/unless}}
      {{/paper-list}}
      {{/paper-content}}
{{/paper-sidenav}}
