<h5>Λίστα Αιτήσεων: </h5>

<ul>
  {{#each model in petition}}
  <li>
    {{petition.projectChoice.id}}
    {{#link-to "petition" class="btn btn-success btn-small"}}Νέα Αίτηση{{/link-to}}
  </li>
  {{/each}}
</ul>

{{outlet}}
