{{page-toolbar pageTitle="Petition List"}}

<p class="rt">
    {{#paper-button raised=true primary=true onClick=(transition-to "userPetition" "new") bubbles=false }}Νεα Αιτηση{{/paper-button}}</p>

<table class="table"> 
    <thead>
        <tr>
            <th>Όνομα</th>
            <th>Επώνυμο</th>
            <th>Έργο</th>
            <th>Προορισμός</th>
            <th>Ημ/νια Δημιουργίας</th>
            <th>Τελευταία ανανέωση</th>
            <th>Ημ/νία Αναχώρησης</th>
            <th>Ημ/νία Επιστροφής</th>
            <th>Κατάσταση</th>
            <th class="icon-cell">&nbsp;</th>
            <th class="icon-cell">&nbsp;</th>
            <th class="icon-cell">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |petition|}}
          {{#if petition.project.name}}
            {{petition-listing petition=petition}}
          {{/if}}
        {{/each}}
    </tbody>
</table>


<!-- <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="styleModal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><font>{{deleteMessage}}</font></h4>
      </div>
    </div>
  </div>
</div> -->
