<h1>Hello</h1>


<!-- <ul>
  {{#each petition in petitionList}}
  <li>
    {{user.lastName}} {{user.firstName}}
    {{#linkTo "users.edit" user class="btn btn-primary btn-small"}}EDIT{{/linkTo}}
  </li>
  {{/each}}
</ul> -->

{{outlet}}
