{{ page-toolbar pageTitle=(t "profile.title") }}

{{#paper-card}}
	{{#paper-card-title}}    		
		<p>Σας ενημερώνουμε ότι προκειμένου να δημιουργήσετε μία <span style="color:blue;">νέα</span> 
		αίτηση μετακίνησης θα πρέπει να έχετε συμπληρώσει πλήρως τα στοιχεία του προφίλ σας.</p>				
	{{/paper-card-title}}
{{/paper-card}}

{{#paper-content }}
    {{ model-form/form model successMessage=(t 'profile_saved')}}
{{/paper-content}}
