{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Υπενθύμιση κωδικού πρόσβασης</h4>
      <p>
      Ο χρήστης έχει τη δυνατότητα να προβεί σε υπενθύμιση του κωδικού πρόσβασης στο σύνδεσμο που ακολουθεί, συμπληρώνοντας το email που έχει δηλώσει στην εφαρμογή:
      <br/>
      <ul>
        <li><a href="https://travel.admin.grnet.gr/api/auth/password/reset/">Υπενθύμιση κωδικού πρόσβασης</a></li>
      </ul>
      <br/> 
      Στη συνέχεια, θα του σταλεί email με το link δημιουργίας του νέου κωδικού.
      </p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
