{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
      <h4>Υπενθύμιση κωδικού πρόσβασης</h4>
      <p>
      Μπορείτε να προβείτε σε υπενθύμιση του κωδικού πρόσβασης επιλέγοντας την καρτέλα «Υπενθύμιση Κωδικού Πρόσβασης» συμπληρώνοντας το email που έχετε δηλώσει στην εφαρμογή.
      <br/>
      <br/>
      Στη συνέχεια, θα σας σταλεί email με το link δημιουργίας του νέου κωδικού.
      </p>
    {{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
