{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
  		<h4>Δημιουργία και Διαχείριση Λογαριασμού</h4>			      
			<p>
				Η Γραμματεία έχει τη δυνατότητα να δημιουργήσει λογαριασμό στην εφαρμογή 
				επιλέγοντας την καρτέλα «Εγγραφή» και συμπληρώνοντας τα παρακάτω στοιχεία:
			<ul>
				<li>Όνομα Χρήστη</li>
				<li>Κωδικός Πρόσβασης</li>
				<li>Email</li>
			</ul>
				Με την αποθήκευση των παραπάνω στοιχείων η Γραμματεία θα λάβει στο email που έχει δηλώσει, 
				ένα email ενεργοποίησης του λογαριασμού της. Αφού επιλέξει το link ενεργοποίησης, έχει τη 
				δυνατότητα να συνδεθεί στην εφαρμογή από την καρτέλα «Είσοδος». Θα πρέπει να σημειωθεί ότι 
				για να λάβει ο χρήστης τον ρόλο «Γραμματεία», θα πρέπει να επικοινωνήσει με τους διαχειριστές 
				της εφαρμογής ώστε να αποδοθούν στον λογαριασμό του τα κατάλληλα δικαιώματα. Κατά την πρώτη είσοδο 
				στην εφαρμογή, η Γραμματεία θα πρέπει να μεταβεί στην καρτέλα του «Προφίλ» και να συμπληρώσει τα 
				παρακάτω προσωπικά της στοιχεία:
			<ul>
				<li>Όνομα</li>
				<li>Επώνυμο</li>
				<li>Ειδικότητα (Λίστα επιλογών)</li>
				<li>Ιδιότητα (Λίστα επιλογών)</li>
				<li>Α.Φ.Μ</li>
				<li>Δ.Ο.Υ (Λίστα επιλογών)</li>
				<li>ΙΒΑΝ</li>
			</ul>
				Επιπλέον, από την καρτέλα «Αλλαγή Κωδικού Πρόσβασης», η Γραμματεία έχει την δυνατότητα 
				να αλλάξει το κωδικό πρόσβασης που χρησιμοποιεί για να συνδεθεί στο σύστημα.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
	    <h4>Λίστα Αιτήσεων</h4>
			<p>
				Στην καρτέλα «Λίστα Αιτήσεων» παρουσιάζονται, ανάλογα με το status στο οποίο βρίσκονται, οι αιτήσεις των μετακινούμενων. 
				Στην συγκεκριμένη καρτέλα, η Γραμματεία έχει τη δυνατότητα να πραγματοποιήσει τις παρακάτω ενέργειες: 
			<ul>	 
			 	<li><b>Επεξεργασία</b>: ενέργεια κατά την οποία η Γραμματεία έχει την δυνατότητα να επεξεργαστεί τα στοιχεία μιαςαίτησης και στη συνέχεια να την αποθηκεύσει ή/και να την υποβάλει.</li>
				<li><b>Αναίρεση της υποβολής</b>: με τη συγκεκριμένη ενέργεια δίνεται η δυνατότητα της αναίρεσης της υποβολής μιας αίτησης και επιστροφή της στην προηγούμενη κατάσταση.</li>
				<li><b>Εξαγωγή Αρχείων</b>: δυνατότητα εξαγωγής των αρχείων «Αίτηση Δαπάνης Μετακίνησης» και «Απόφαση Μετακίνησης».</li>
				<li><b>Έγκριση από Πρόεδρο</b>: με την συγκεκριμένη ενέργεια η Γραμματεία ενημερώνει το σύστημα ότι η μετακίνηση έχει λάβει την έγκριση του Προέδρου.</li>
			</ul>	
			Επιπλέον, δίνεται η δυνατότητα αναζήτησης στη λίστα των αιτήσεων, με βάση το έργο στο οποίο ανήκει μία μετακίνηση, 
			το επώνυμο του μετακινούμενου και τις ημερομηνίες αναχώρησης και επιστροφής.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Επεξεργασία Υποβεβλημένης Αίτησης Μετακίνησης</h4>    
			<p>
				Η Γραμματεία έχει τη δυνατότητα να επεξεργαστεί τα στοιχεία μιας υποβεβλημένης αίτησης μετακίνησης, 
				αφού μεταβεί στην καρτέλα «Λίστα Αιτήσεων» και επιλέξει την ενέργεια «Επεξεργασία».
				Εκεί θα πρέπει να συμπληρώσει τα ακόλουθα στοιχεία εφόσον αυτά δεν έχουν συμπληρωθεί από τον μετακινούμενο 
				(με bold σημειώνονται τα υποχρεωτικά πεδία):
			<ul>
				<li>Έγκριση Αίτησης Μετακίνησης από τον Υπεύθυνο Έργου</li>
				<li>Έγκριση τελικών δαπανών της Μετακίνησης από τον Υπεύθυνο Έργου</li>
				<li>Έργο - Υπεύθυνος Έργου (Λίστα Επιλογών)</li>
				<li>Αιτιολογία Μετακίνησης</li>
				<li>Τόπος Προορισμού - Από</li>
				<li>Τόπος Προορισμού - Προς</li>
				<li>Έναρξη Εργασιών</li>
				<li>Λήξη Εργασιών</li>
				<li><b>Αναχώρηση</b></li>
				<li><b>Επιστροφή</b></li>
				<li><b>Μέσο Μετακίνησης (Λίστα Επιλογών)</b></li>
				<li><b>Τιμή Εισιτηρίου</b></li>
				<li><b>Τρόπος Πληρωμής (Λίστα Επιλογών)</b></li>
				<li><b>Στοιχεία Πληρωμής</b></li>
				<li><b>Διανυκτέρευση (Ημερήσια): έξοδα καταλύματος</b></li>
				<li><b>Τρόπος Πληρωμής (Λίστα Επιλογών)</b></li>
				<li><b>Στοιχεία Πληρωμής</b></li>
				<li>Κόστος Συμμετοχής: εγγραφές σε συνέδρια, events κλπ.</li>
				<li>Τρόπος Πληρωμής (Λίστα Επιλογών)</li>
				<li>Στοιχεία Πληρωμής</li>
				<li>Λοιπά Έξοδα Μετακίνησης: πχ εισιτήρια μέσων μαζικής μεταφοράς (προβλεπόμενη τιμή)</li>
				<li>Λοιπά Έξοδα Μετακίνησης - Περιγραφή</li>
				<li><b>Κάλυψη Διατροφής (Λίστα Επιλογών)</b></li>
				<li>Κάλυψη ημερήσιας αποζημίωσης από άλλο φορέα</li>
				<li>Στοιχεία σχετικά με την μετακίνηση και τη διανομή</li>
				<li><b>Αρ. Μετακίνησης</b></li>
				<li><b>Ημ. Πρ. Αίτησης Δαπάνης Μετακίνησης</b></li>
				<li><b>Αρ. Πρ. Αίτησης Δαπάνης Μετακίνησης</b></li>
				<li><b>Ημ. Πρ. Απόφασης Μετακίνησης</b></li>
				<li><b>Αρ. Πρ. Απόφασης Μετακίνησης</b></li>
			</ul>
				Η Γραμματεία θα πρέπει πρώτα να αποθηκεύσει τις αλλαγές της και στη συνέχεια να υποβάλει την αίτηση.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}	

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Ενέργειες Από Γραμματεία</h4> 
			<p>Στη συνέχεια θα παρουσιάσουμε όλες τις καταστάσεις στις οποίες είναι δυνατόν να βρεθεί μια αίτηση. 
			Στον πίνακα που ακολουθεί παρουσιάζονται τα statuses των αιτήσεων της εφαρμογής καθώς και οι ενέργειες 
			που μπορεί να εκτελέσει η Γραμματεία ανάλογα με το status της αίτησης:
			</p>
			<div class="container">
			<table class="table responsive"> 
		    <thead>
	        <tr>
	          <th>Status</th>
	          <th>Description</th>
	          <th>Actions</th>
	        </tr>
		    </thead>
		    <tbody>
	       	<tr>
	          <td>1</td> 
	          <td>Σε επεξεργασία από τον μετακινούμενο</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>2</td> 
	          <td>Υποβεβλημένη από τον μετακινούμενο</td>
	          <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
	        </tr>
	        <tr>
	          <td>3</td> 
	          <td>Σε επεξεργασία από την γραμματεία</td>
	          <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
	        </tr>
	        <tr>
	          <td>4</td> 
	          <td>Οριστικοποιημένη από την γραμματεία</td>
	          <td>Αναίρεση Υποβολής, Εξαγωγή Αρχείων, Έγκριση από Πρόεδρο</td>
	        </tr>
	        <tr>
	          <td>5</td> 
	          <td>Απόφαση Μετακίνησης υπογεγραμμένη από Πρόεδρο</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>6</td> 
	          <td>Σε επεξεργασία από μετακινούμενο για αποζημίωση</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>7</td> 
	          <td>Υποβεβλημένη από μετακινούμενο για αποζημίωση</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>8</td> 
	          <td>Σε επεξεργασία από τον Υπεύθυνο Μετακινήσεων</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>9</td> 
	          <td>Οριστικοποιημένη από τον Υπεύθυνο Μετακινήσεων</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>10</td> 
	          <td>Απόφαση Αποζημίωσης υπογεγραμμένη από Πρόεδρο</td>
	          <td>-</td>
	        </tr>
		    </tbody>
			</table>
			</div>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
	