{{ page-toolbar pageTitle=(t "signup.title") }}

{{#paper-card}}
	{{#paper-card-title}}    		
		<p>Σας ενημερώνουμε ότι με την υποβολή του αιτήματος εγγραφής σας θα λάβετε 
		<span style="color:blue;">email ενεργοποίησης</span> του λογαριασμού σας.</p>				
	{{/paper-card-title}}
{{/paper-card}}

{{#paper-content}}
    {{ model-form/form model onSuccess='onSuccess' submitLabel=(t "form.button.signup")}}
{{/paper-content}}
