{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Δημιουργία Νέας Αίτησης Μετακίνησης</h4>    
			<p>
				Ο μετακινούμενος θα πρέπει να μεταβεί στην καρτέλα «Νέα Αίτηση», προκειμένου να δημιουργήσει μία αίτηση μετακίνησης.
				Εκεί θα πρέπει να συμπληρώσει τα ακόλουθα στοιχεία: (με * σημειώνονται τα υποχρεωτικά πεδία ενώ τα μη υποχρεωτικά 
				συμπληρώνονται σε περίπτωση που ο μετακινούμενος γνωρίζει την τιμή τους ή θέλει να δηλώσει μια επιθυμητή τιμή)
			<ul>
				<li>Έργο - Υπεύθυνος Έργου (Λίστα Επιλογών) *</li>
				<li>Αιτιολογία Μετακίνησης *</li>
				<li>Τόπος Προορισμού - Από *</li>
				<li>Τόπος Προορισμού - Προς* </li>
				<li>Έναρξη Εργασιών *</li>
				<li>Λήξη Εργασιών *</li>
				<li>Αναχώρηση</li>
				<li>Επιστροφή</li>
				<li>Μέσο Μετακίνησης (Λίστα Επιλογών)</li>
				<li>Τιμή Εισιτηρίου</li>
				<li>Κάλυψη Διατροφής (Λίστα Επιλογών)</li>
				<li>Διανυκτέρευση (Ημερήσια): έξοδα καταλύματος (θα πρέπει να συμπληρωθούν είτε σε τοπικό νόμισμα είτε σε ευρώ)</li>
				<li>Λοιπά Έξοδα Μετακίνησης: πχ εισιτήρια μέσων μαζικής μεταφοράς (προβλεπόμενη τιμή)</li>
				<li>Λοιπά Έξοδα Μετακίνησης - Περιγραφή: περιγραφή των εξόδων π.χ. εισιτήρια λεωφορείου</li>
				<li>Κόστος Συμμετοχής: εγγραφές σε συνέδρια, events κλπ. (θα πρέπει να συμπληρωθεί είτε σε τοπικό νόμισμα είτε σε ευρώ).</li>
				<li>Αρχικές Προτάσεις Μετακινούμενου</li>
			</ul>
				Ο μετακινούμενος θα πρέπει πρώτα να αποθηκεύσει τις αλλαγές του και στη συνέχεια να υποβάλει την αίτησή του. Σημειώνεται ότι δεν υπάρχει περιορισμός στο πόσες φορές μπορεί να αποθηκευθεί η αίτηση μέχρι την υποβολή της.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
	    <h4>Λίστα Αιτήσεων</h4>
			<p>
				Στην καρτέλα «Οι Αιτήσεις μου» παρουσιάζονται, ανάλογα με την κατάσταση (status) στην οποία βρίσκονται, οι αιτήσεις του μετακινούμενου. 
				Στην συγκεκριμένη καρτέλα, ο μετακινούμενος έχει τη δυνατότητα να πραγματοποιήσει τις παρακάτω ενέργειες:
			<ul>	 
			 	<li><b>Επεξεργασία</b>: ο μετακινούμενος έχει την δυνατότητα να επεξεργαστεί τα στοιχεία μιας αίτησης και στη συνέχεια να την αποθηκεύσει ή/και να την υποβάλει.</li> 
				<li><b>Διαγραφή</b>: ο μετακινούμενος έχει την δυνατότητα να διαγράψει μια αίτησή του.</li>
				<li><b>Αναίρεση της υποβολής</b>: δυνατότητα της αναίρεσης της υποβολής μιας αίτησης και επιστροφή της στην προηγούμενη κατάσταση.</li>
			</ul>	
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Δημιουργία Αίτησης Αποζημίωσης</h4>
			<p>Ο μετακινούμενος, μετά την άφιξη του, θα πρέπει να συνδεθεί εκ νέου στο σύστημα και να συμπληρώσει τα ακόλουθα στοιχεία:
			<ul>
				<li><b>Ανέβασμα αρχείων</b>: ο μετακινούμενος θα πρέπει να ανεβάσει το πρόγραμμα της μετακίνησης. Σε περίπτωση περισσότερων αρχείων (π.χ. ατζέντα, αποδεικτικό παρακολούθησης) μπορεί να ανεβάσει ένα αρχείο τύπου zip</li>
				<li><b>Απολογισμός Μετακίνησης</b>: Ο μετακινούμενος θα πρέπει να καταγράψει τον απολογισμό της μετακίνησης.</li>
				<li><b>Λοιπά Έξοδα Μετακίνησης</b>: πχ εισιτήρια μέσων μαζικής μεταφοράς (πραγματική τιμή).</li>
				<li><b>Λοιπά Έξοδα Μετακίνησης - Περιγραφή</b>: περιγραφή των εξόδων π.χ. εισιτήρια λεωφορείου.</li>
			</ul>
			Στη συνέχεια θα πρέπει να αποθηκεύσει τις αλλαγές του (επιλέγοντας το κουμπί «ΑΠΟΘΗΚΕΥΣΗ») και να υποβάλει την αίτηση (επιλέγοντας το κουμπί «ΥΠΟΒΟΛΗ») ώστε να εγκριθεί η αποζημίωσή του. Σημειώνεται ότι δεν υπάρχει περιορισμός στο πόσες φορές μπορεί να αποθηκευθεί η αίτηση μέχρι την υποβολή της.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}		

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Ενέργειες Από τον Μετακινούμενο</h4> 
			<p>Στη συνέχεια θα παρουσιάσουμε όλες τις καταστάσεις στις οποίες είναι δυνατόν να βρεθεί μια αίτηση.
			Στον πίνακα που ακολουθεί παρουσιάζονται οι καταστάσεις των αιτήσεων της εφαρμογής καθώς και οι ενέργειες που μπορεί να 
			εκτελέσει ο μετακινούμενος ανάλογα με την κατάσταση της αίτησης:
			</p>
			<div class="container">
			<table class="table responsive"> 
		    <thead>
	        <tr>
	          <th>Κατάσταση</th>
	          <th>Περιγραφή</th>
	          <th>Ενέργειες</th>
	        </tr>
		    </thead>
		    <tbody>
	       	<tr>
	          <td>1</td> 
	          <td>Σε επεξεργασία από τον μετακινούμενο</td>
	          <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής,  Διαγραφή</td>
	        </tr>
	        <tr>
	          <td>2</td> 
	          <td>Υποβεβλημένη από τον μετακινούμενο</td>
	          <td>Αναίρεση Υποβολής</td>
	        </tr>
	        <tr>
	          <td>3</td> 
	          <td>Σε επεξεργασία από την γραμματεία</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>4</td> 
	          <td>Οριστικοποιημένη από την γραμματεία</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>5</td> 
	          <td>Απόφαση Μετακίνησης υπογεγραμμένη από Πρόεδρο</td>
	          <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
	        </tr>
	        <tr>
	          <td>6</td> 
	          <td>Σε επεξεργασία από μετακινούμενο για αποζημίωση</td>
	          <td>Επεξεργασία με δυνατότητα Αποθήκευσης και Υποβολής</td>
	        </tr>
	        <tr>
	          <td>7</td> 
	          <td>Υποβεβλημένη από μετακινούμενο για αποζημίωση</td>
	          <td>Αναίρεση Υποβολής</td>
	        </tr>
	        <tr>
	          <td>8</td> 
	          <td>Σε επεξεργασία από τον Υπεύθυνο Μετακινήσεων</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>9</td> 
	          <td>Οριστικοποιημένη από τον Υπεύθυνο Μετακινήσεων</td>
	          <td>-</td>
	        </tr>
	        <tr>
	          <td>10</td> 
	          <td>Απόφαση Αποζημίωσης υπογεγραμμένη από Πρόεδρο</td>
	          <td>-</td>
	        </tr>
		    </tbody>
			</table>
			</div>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
	