{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
  		<h4>Δημιουργία και Διαχείριση Λογαριασμού</h4>
			<p>
				Ο χρήστης έχει τη δυνατότητα να δημιουργήσει λογαριασμό στην εφαρμογή 
				επιλέγοντας την καρτέλα «Εγγραφή» και συμπληρώνοντας τα παρακάτω στοιχεία:
			<ul>
				<li>Όνομα Χρήστη (username)</li>
				<li>Κωδικός Πρόσβασης</li>
				<li>Email</li>
			</ul>
				Με την αποθήκευση των παραπάνω στοιχείων ο χρήστης θα λάβει email ενεργοποίησης του λογαριασμού του. Αφού επιλέξει το 
				link ενεργοποίησης, έχει τη δυνατότητα να συνδεθεί στην εφαρμογή από την καρτέλα «Είσοδος».
				(Σημειώνεται ότι προκειμένου να αποδοθούν επιπλέον δικαιώματα στον λογαριασμό ενός χρήστη,
				θα πρέπει ο τελευταίος να επικοινωνήσει με τους διαχειριστές της εφαρμογής.)
				<br><br>
				Κατά την πρώτη είσοδο στην εφαρμογή, ο χρήστης θα πρέπει να μεταβεί στην καρτέλα του 
				«Προφίλ» και να συμπληρώσει τα παρακάτω προσωπικά του στοιχεία:
			<ul>
				<li>Όνομα</li>
				<li>Επώνυμο</li>
				<li>Ειδικότητα
					<ul>
						<li>Ηλεκτρολόγος Μηχανικός και Μηχανικός Υπολογιστών</li>
						<li>Επιστήμη Πληροφορικής και Τηλεπικοινωνιών</li>
						<li>Θετικές Επιστήμες (φυσική, χημεία, μαθηματικά)</li>
						<li>Διοίκηση και Οικονομία</li>
						<li>Δημοσιογραφία - Επικοινωνία</li>
						<li>Νομική</li>
						<li>Φιλοσοφία - Παιδαγωγική - Φιλολογία</li>
						<li>Άλλες ειδικότητες Μηχανικών (πλην Ηλεκτρολόγων Μηχανικών)</li>
						<li>Μέλος ΔΕΠ</li>
						<li>Άλλες ειδικότητες</li>
					</ul>
				</li>
				<li>Ιδιότητα
					<ul>
						<li>Πρόεδρος ΔΣ</li>
						<li>Μέλος ΔΣ</li>
						<li>Προσωπικό (η συγκεκριμένη επιλογή αφορά μόνιμο προσωπικό)</li>
						<li>Στέλεχος ΕΔΕΤ (η συγκεκριμένη επιλογή αφορά εσωτερικούς συνεργάτες)</li>
						<li>Συνεργάτης (η συγκεκριμένη επιλογή αφορά εξωτερικούς συνεργάτες)</li>
					</ul>
				</li>
				<li>Α.Φ.Μ</li>
				<li>Δ.Ο.Υ (Λίστα επιλογών)</li>
				<li>ΙΒΑΝ</li>
			</ul>
				Επισημαίνεται ότι μέχρι ο χρήστης να συμπληρώσει πλήρως τα στοιχεία του προφίλ του, δεν θα έχει τη δυνατότητα
				να δημιουργήσει μία νέα αίτηση μετακίνησης.
				<br><br>
				Τέλος, από την καρτέλα «Αλλαγή Κωδικού Πρόσβασης», ο χρήστης έχει την δυνατότητα 
				να αλλάξει το κωδικό πρόσβασης που χρησιμοποιεί για να συνδεθεί στο σύστημα.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}
