{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
	    <h4>Λίστα Αιτήσεων</h4>
			<p>
				Στην καρτέλα «Λίστα Αιτήσεων» παρουσιάζονται, ανάλογα με την κατάσταση (status) στην οποία βρίσκονται, οι αιτήσεις του μετακινούμενου.
			</p>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-title}}
    {{#paper-card-title-text}}
			<h4>Καταστάσεις Αιτήσεων</h4>
			<p>Στη συνέχεια θα παρουσιάσουμε όλες τις καταστάσεις στις οποίες είναι δυνατόν να βρεθεί μια αίτηση:
			</p>
			<div class="container">
			<table class="table responsive"> 
		    <thead>
	        <tr>
	          <th>Κατάσταση</th>
	          <th>Περιγραφή</th>
	        </tr>
		    </thead>
		    <tbody>
	       	<tr>
	          <td>1</td>
	          <td>Σε επεξεργασία από τον μετακινούμενο</td>
	        </tr>
	        <tr>
	          <td>2</td>
	          <td>Υποβεβλημένη από τον μετακινούμενο</td>
	        </tr>
	        <tr>
	          <td>3</td>
	          <td>Σε επεξεργασία από την γραμματεία</td>
	        </tr>
	        <tr>
	          <td>4</td>
	          <td>Οριστικοποιημένη από την γραμματεία</td>
	        </tr>
	        <tr>
	          <td>5</td>
	          <td>Απόφαση Μετακίνησης υπογεγραμμένη από Πρόεδρο</td>
	        </tr>
	        <tr>
	          <td>6</td>
	          <td>Σε επεξεργασία από μετακινούμενο για αποζημίωση</td>
	        </tr>
	        <tr>
	          <td>7</td>
	          <td>Υποβεβλημένη από μετακινούμενο για αποζημίωση</td>
	        </tr>
	        <tr>
	          <td>8</td>
	          <td>Σε επεξεργασία - Λογιστικός Έλεγχος</td>
	        </tr>
	        <tr>
	          <td>9</td>
	          <td>Οριστικοποιημένη - Λογιστικός Έλεγχος</td>
	        </tr>
	        <tr>
	          <td>10</td>
	          <td>Απόφαση Αποζημίωσης υπογεγραμμένη από Πρόεδρο</td>
	        </tr>
		    </tbody>
			</table>
			</div>
		{{/paper-card-title-text}}
  {{/paper-card-title}}
{{/paper-card}}