@charset "utf-8";
@import 'ember-paper';

body, body div.app, body div.app > div { height: 100%; }

md-content.login-info {
  background-color: color($background, '200');
  padding: 16px;
  border-bottom: 1px solid color($background, '400');
  margin-bottom: 8px;
  md-content.user-label {
    padding: 20px 16px 20px 0;
    background-color: transparent;
  }
}


.md-input-hint {
  position: relative;
  top: -35px;
  padding-left: 4px;
  color: color($primary, '400');
  font-size: 12px;
  .message {
    @extend .md-input-invalid;
  }
}
