$accent: "blue";

@import "color-palette";
$color-blue: map-merge($color-blue, ('contrast':  $light-contrast-color));

@charset "utf-8";
@import 'ember-paper';


body, body div.app, body div.app > div { height: 100%; }

md-content.login-info {
  background-color: color('grey', '500');
  padding: 16px;
  border-bottom: 1px solid color($background, '400');
  margin-bottom: 8px;
  color: white;
  md-content.user-label {
    padding: 14px 16px 14px 0;
    background-color: transparent;
    color: white;
  }
}

.menu-item {
    &:hover {
        background-color: color($background, '200');
    }
}


table {
    max-width: 100%;
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
    height: 100%;
    th {
        background-color: color('blue', '500');
        color: white;
        padding: 12px 8px;
        text-align: center;
    }
    th.link-tab {
      text-align: center;      
    }
    td {
        padding: 6px 8px;
        text-align: center;
    }
    td.icon-cell {
        padding-left: 1px;
        padding-right: 1px;
    }
    tr:nth-child(even) td {
        background-color: color('blue', '100');
    }
}

.md-button:hover {
    opacity: 0.9;
}

md-toolbar.site-content-toolbar {
  background-color: color('grey', '800') !important;
}

.logo {
    padding-left: 101px;
    background: url('images/grnet_logo.png') no-repeat 45px 45px;
    background-size: 100px;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.picker__table { 
  th {
    background-color: color('blue', '500') !important;
    color: #fff !important;
  }
  tr:nth-child(2) td {
    background-color: transparent;
  }
}


md-content.md-form-error {
  background-color: color($warn, '800'); 
  color: #fff;
}

md-content.md-form-success {
  background-color: color('green', '800'); 
  color: #fff;
}

.model-form {

  md-content.model-form-fieldset {
    md-card-content {
      padding-bottom: 0;
    }
  }

  md-autocomplete[disabled] { background-color: transparent; }

  md-input-container[disabled], md-input-container[disabled].md-focused {
    md-select-value, md-select-value:focus {
      border-bottom-color: transparent !important;
      color: color('grey', '400') !important;
      border-bottom-color: transparent;
      background-image: linear-gradient(to right, color('grey', '400') 0%, color('grey', '400') 33%, transparent 0%);
      background-size: 4px 1px;
      background-repeat: repeat-x;
      background-position: 0 bottom;
    }
  }

  .md-input-hint {
    position: relative;
    top: -38px;
    padding-left: 4px;
    color: color($primary, '400');
    font-size: 12px;
    z-index: 40;
  }

  md-input-container[disabled] + .md-input-hint {
    color: color('grey', '400');
  }

  md-content {
    md-input-container.md-input-invalid {
      md-select-value.md-select-placeholder {
        border-bottom-color: color($warn, '800');
        border-width: 0 0 2px 0;
      }
    }
    .md-input-error {
      font-size: 12px;
      color: color($warn, '800');
      position: relative;
      top: -14px;
      padding-left: 4px;
    }
  }

}

.md-date-input [ng-messages] {
  overflow: visible;
  top: 18px;
  padding-left: 0;
}

// overrides
md-input-container 
  label:not(.md-no-float):not(.md-container-ignore), 
  md-input-container .md-placeholder,
  md-select .md-select-value.md-select-placeholder,
  md-select.md-default-theme .md-select-value.md-select-placeholder,
  {
  color: color('blue', '400');  
}

md-input-container[disabled] md-icon {
  color: color('grey', '300');
}
md-input-container[disabled]
  label:not(.md-no-float):not(.md-container-ignore), 
  md-input-container[disabled] .md-placeholder {
  color: #bbb;  
}

md-input-container.md-input-invalid {
  label:not(.md-no-float):not(.md-container-ignore), 
  .md-placeholder,
  md-select .md-select-value.md-select-placeholder,
  md-select.md-default-theme .md-select-value.md-select-placeholder {
    color: lighten(#f00, 30%);
  }

  .checkbox-container {
    padding-left: 0.8rem;
  }
}


table.responsive {
  overflow-x: auto;
  display: block;
}
