@import "bootstrap";

@charset "utf-8";


/*.arrival-point {
	border-radius: 1%;
	border: 1px dotted #cccccc;
	margin-top: 1%;
	-bottom: 3%; 
}*/

.greenMessage {
	color:green;
}

.redMessage {
	color: red;
}

.form-control {
	@extend .input-sm;
}


