<md-input-container class="checkbox-container">
{{#paper-checkbox value=value onChange=(action 'handleChange') class="md-primary" }}
{{ label }}
{{/paper-checkbox}}
</md-input-container>
{{#if (and hasErrors isTouched)}}
<div class="md-input-messages-animation md-auto-hide" ng-messages>
  {{#each errors as |error index|}}
    <div
      id="error-{{index}}"
      class="md-input-error">
      {{error.message}}
    </div>
  {{/each}}
</div>
{{/if}}
