{{#if visible}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "handleClose")}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{ promptTitle }}</h2>
      {{#if promptMessage}}
      <p>{{ promptMessage }}</p>
      {{/if}}
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>

      {{#paper-button autofocus=true warn=true onClick=(action "handleClose")}}{{ cancelLabel }}{{/paper-button}}
      {{#paper-button primary=true onClick=(action "handleConfirm")}}{{ confirmLabel }}{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
