<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load tz %}

<html>
	<head>
		<style>
th, td {
	border-bottom: 1px solid #ddd;
	font-size: 75%;
}
caption {
	font-size:90%;
	padding: 20px;
}
p,ol {
	font-size:90%;

}
.top {
	border-bottom: 0px solid #ddd;
}
		</style>

		<title>{% block title %}Report{% endblock %}</title>
		<meta charset="UTF-8">
	</head>
	<body>
		{% include 'texpenses/top.html' %}
		{% block protocol %}{% include 'texpenses/protocol.html' %}{% endblock %}
		{% block content %}{% include 'texpenses/content.html' %}{% endblock %}
		{% block signatures %}{% include 'texpenses/signatures.html' %}{% endblock %}
		<footer style="position: absolute;right: 0;bottom: 0;left: 0;text-align: right;" >
			{% include 'texpenses/footer.html' %}
		</footer>
	</body>
</html>

