<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<table>
	<tr>
		<td class='top' rowspan='2'>
			{% load static %}
			<img src="{% static 'images/grnet.jpg' %}" style="width: 164px; height:82px;" alt="My image"/>
		</td>
		<td class='top' >
			<font style="color: gray;">	<b>ΕΔΕΤ Α.Ε.</b><br>
				Εθνικό Δίκτυο Έρευνας & Τεχνολογίας
			</font>
		</td>
	</tr>
	<tr>
		<td class='top' >
			<font style='color: gray;'>
				<b>GRNET S.A.</b><br>
				Greek -Research & Technology Network
			</font>
		</td>

	</tr>

</table>

